<%- include("header") -%>

<body>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item) { %>
    <div class="item">
      <input type="checkbox" />
      <p><%= item.todo %></p>
      <form action="/delete" method="POST">
        <input type="hidden" name="idToDelete" value="<%= item.id %>" />
        <input type="hidden" name="listTitle" value="<%= listTitle %>" />
        <button class="delete-btn">
          <img src="/icons/trash.png" alt="Delete" />
        </button>
      </form>
    </div>
    <% }); %>

    <form action="/" method="post">
      <input
        type="text"
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>
</body>

<%- include("footer") -%>
