<%- include("header") -%>

<body>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item) { %>
    <div class="item">
      <input type="checkbox" />
      <p><%= item.todo %></p>
      <form action="/edit" method="POST" onsubmit="return editItem(this)">
        <input type="hidden" name="idToEdit" value="<%= item.id %>" />
        <input type="hidden" name="listTitle" value="<%= listTitle %>" />
        <input type="hidden" name="updatedTodo" />
        <button class="edit-btn">
          <img src="/icons/pen.png" alt="Edit" />
        </button>
      </form>

      <form action="/delete" method="POST">
        <input type="hidden" name="idToDelete" value="<%= item.id %>" />
        <input type="hidden" name="listTitle" value="<%= listTitle %>" />
        <button class="delete-btn">
          <img src="/icons/trash.png" alt="Delete" />
        </button>
      </form>
    </div>

    <% }); %>

    <form action="/" method="post">
      <input
        type="text"
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>

  <script>
    function editItem(form) {
      const currentTodo = form.parentElement.querySelector("p").innerText;
      const newTodo = prompt("Edit your item:", currentTodo);
      if (newTodo) {
        form.querySelector('input[name="updatedTodo"]').value = newTodo;
        return true;
      }
      return false; // cancel the form submit if user hits cancel
    }
  </script>
</body>

<%- include("footer") -%>
